In [1]:
import pandas as pd

In [3]:
commands = ['import pandas', 'pd.read_csv()']

commands

['import pandas', 'pd.read_csv()']

In [6]:
commands[0] = 'pd.read_csv()'
commands

['pd.read_csv()', 'pd.read_csv()']

In [7]:
commands.append('dataframe.head()')

commands

['pd.read_csv()', 'pd.read_csv()', 'dataframe.head()']

In [9]:
number_of_commands = len(commands)
number_of_commands

3

In [10]:
kitchen = {
  'coffee makers':3635,
  'food processors':2450,
  'kettles':1282 }

kitchen

{'coffee makers': 3635, 'food processors': 2450, 'kettles': 1282}

In [11]:
kitchen['toasters'] = 910

kitchen

{'coffee makers': 3635,
 'food processors': 2450,
 'kettles': 1282,
 'toasters': 910}

In [18]:
category ='LAPTOP'
category_counts = [452,23, 233, 46, 116, 2, 79]

In [14]:
category.lower()

'laptop'

In [19]:
category_counts.sort()
category_counts

[2, 23, 46, 79, 116, 233, 452]

In [20]:
category_counts.sort(reverse=True)
category_counts

[452, 233, 116, 79, 46, 23, 2]

In [25]:
# Dataset source: https://www.kaggle.com/datasets/mexwell/amazon-e-book-publishers/
amazon_pub = pd.read_csv('publishers.csv')
amazon_pub.head()

,genre,sold by,daily average.amazon revenue,daily average.author revenue,daily average.gross sales,daily average.publisher revenue,daily average.units sold,publisher.name,publisher.type,statistics.average rating,statistics.sale price,statistics.sales rank,statistics.total reviews
0,genre fiction,HarperCollins Publishers,6832.0,6832.0,34160.0,20496.0,7000,Katherine Tegen Books,big five,4.57,4.88,1,9604
1,genre fiction,HarperCollins Publishers,2487.5,2487.5,12437.5,7462.5,6250,HarperCollins e-books,big five,4.47,1.99,2,450
2,genre fiction,"Amazon Digital Services, Inc.",9559.0,9559.0,47795.0,28677.0,5500,(Small or Medium Publisher),small/medium,4.16,8.69,3,30
3,fiction,Hachette Book Group,8250.0,8250.0,41250.0,24750.0,5500,"Little, Brown and Company",big five,3.84,7.50,3,3747
4,genre fiction,Penguin Group (USA) LLC,7590.5,7590.5,37952.5,22771.5,4750,Dutton Children's,big five,4.75,7.99,4,9174

In [29]:
pubtype_counts = amazon_pub['publisher.type'].value_counts(ascending=True)
pubtype_counts

amazon            423
single author    3608
indie            5946
big five         7309
small/medium     9741
Name: publisher.type, dtype: int64

In [27]:
genre_counts = amazon_pub['genre'].value_counts(ascending=False)
genre_counts

nonfiction          14161
genre fiction        8903
children             2541
fiction               733
comics                568
foreign language      121
Name: genre, dtype: int64

In [35]:
genre_percents = amazon_pub['genre'].value_counts(normalize=True)
genre_percents

nonfiction          0.523958
genre fiction       0.329411
children            0.094017
fiction             0.027121
comics              0.021016
foreign language    0.004477
Name: genre, dtype: float64

In [36]:
genre_percents_asc = amazon_pub['genre'].value_counts(ascending=True, normalize=True)
genre_percents_asc

foreign language    0.004477
comics              0.021016
fiction             0.027121
children            0.094017
genre fiction       0.329411
nonfiction          0.523958
Name: genre, dtype: float64

In [37]:
daily_average_units_sold_description = amazon_pub['daily average.units sold'].describe()
daily_average_units_sold_description

count    27027.000000
mean        29.614053
std        157.739500
min          1.000000
25%          4.000000
50%          9.000000
75%         14.000000
max       7000.000000
Name: daily average.units sold, dtype: float64

In [38]:
daily_average_gross_sales_description = amazon_pub['daily average.gross sales'].describe()
daily_average_gross_sales_description

count    27027.000000
mean       150.572864
std        865.653698
min          0.020000
25%         16.000000
50%         41.860000
75%         98.910000
max      47795.000000
Name: daily average.gross sales, dtype: float64

In [39]:
amazon_pub['sold by'].describe()

count                              27027
unique                                14
top       Amazon Digital Services,  Inc.
freq                               19548
Name: sold by, dtype: object

In [ ]:
#Practice summary, used pandas methods and other various data science related python concepts like: variables, lists, dictionares, methods, etc.